body {
	padding: 50px 20%;
	font-family: Merriweather, Georgia, serif;
}

p {
	color: darkslategray;
	text-align: justify;
	/*font-style: italic;*/
}

h1, h2, h3 {color: plum;}

h1, h3 {text-align: center;}

h1 {text-transform: uppercase}

h2 {
	text-align: right;
	border-bottom: lightslategray solid;
}

#number1-achievement {color: red}
div {font-style: italic}

hr {
	color: lightslategray;
	border-style: dotted;
	width: 50%;
	border-width: thin;	
}

b, strong {color: plum;}