#container {
    margin: auto;
    width: 1300px;
    padding: 8px;
    background-color: #8080A0;
}

#mainviewer {
    width: 1230px;
    margin: auto;
}

h1 {
    border-bottom-style: solid;
}

.absolute-pos img {
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
    z-index: 1;
}