<div class="panel-heading">

    <h3 class="panel-title">Add a new staff member</h3>

</div>


<form name="myForm" method="POST" action="/add" onsubmit="return storeValues(this)">

    <div class="panel-body">
        <div class="col-md-2">
            <table class="table table-striped">

                <tbody>

                    <tr>
                        <td><label for="LNameID" style="width: 120px">Last Name:</label></td>
                        <td><input type="text" id="LNameID" name="lname" value="" placeholder="Last Name goes here" style="width: 250px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="FNameID" style="width: 120px">First Name:</label></td>
                        <td><input type="text" id="FNameID" name="fname" value="" placeholder="First Name goes here" style="width: 250px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="Email" style="width: 120px">Email:</label></td>
                        <td><input type="email" id="Email" name="email" value="" placeholder="Enter valid email" style="width: 250px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="PHnumberID" style="width: 120px">Phone number:</label></td>
                        <td><input type="tel" pattern="[\+]\d{2}[\(]\d{2}[\)]\d{4}[\-]\d{4}" id="PHnumberID" name="ph" value=""
                                placeholder="Phone Number +12(34)5678-9012" style="width: 250px" />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="AddressID" style="width: 120px">Address:</label></td>
                        <td><input type="text" id="AddressID" name="address" value="" placeholder="Address goes here" style="width: 250px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><label for="JobTitleID" style="width: 120px">Job Title:</label></td>
                        <td><input type="text" id="JobTitleID" name="title" value="" placeholder="Job Title goes here" style="width: 250px"
                            />
                        </td>
                    </tr>
                    <tr>
                        <td><button type="submit" class="btn btn-success">Save</button></td>
                        <td><button type="reset" class="btn btn-warning" onclick="clearCookies()">Clear</button></td>
                    </tr>

                </tbody>

            </table>
            <script type="text/javascript">
                function getCookie(name) {
                    var re = new RegExp(name + "=([^;]+)");
                    var value = re.exec(document.cookie);
                    return (value != null) ? unescape(value[1]) : null;
                }

                var today = new Date();
                var expiry = new Date(today.getTime() + 30 * 24 * 3600 * 1000);

                function setCookie(name, value) {
                    document.cookie = name + "=" + escape(value) + "; path=/add; expires=" + expiry.toGMTString();
                }

                function storeValues(form) {
                    setCookie("lname", form.lname.value);
                    setCookie("fname", form.fname.value);
                    setCookie("email", form.email.value);
                    setCookie("ph", form.ph.value);
                    setCookie("address", form.address.value);
                    setCookie("title", form.title.value);


                    return true;
                }

                if (lname = getCookie("lname")) document.myForm.lname.value = lname;
                if (fname = getCookie("fname")) document.myForm.fname.value = fname;
                if (email = getCookie("email")) document.myForm.email.value = email;
                if (ph = getCookie("ph")) document.myForm.ph.value = ph;
                if (address = getCookie("address")) document.myForm.address.value = address;
                if (title = getCookie("title")) document.myForm.title.value = title;
            </script>

</form>