<div class="panel-heading">
  <h3 class="panel-title">Staff Directory</h3>
</div>
<form name="myForm">

  <div class="panel-body">
    <div class="col-md-8">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th><a href="/ascending">&#128314;</a><a href="/">Last Name</a><a href="/descending">&#128315;</a></th>
            <th>First Name</th>
            <th>Email</th>
            <th>Phone #</th>
            <th>Address</th>
            <th>Job Title</th>
            <th>Select</th>
          </tr>
        </thead>
        <tbody>

          {{#each employees}}
          <tr>
            <td>{{id}}</td>
            <td>{{lname}}</td>
            <td>{{fname}}</td>
            <td>{{email}}</td>
            <td>{{ph}}</td>
            <td>{{address}}</td>
            <td>{{title}}</td>
            <td>
              <input type="checkbox" name="EmployeesSelect" value="{{id}}" id="EmployeesSelect" />
              <label for="EmployeesSelect"></label>
            </td>
          </tr>
          {{/each}} 
                  </tbody>

      </table>
      <button type="submit" class="btn btn-success" formaction="/add" formmethod="GET">Add new staff member</button>
      <button type="submit" class="btn btn-warning" formaction="/remove" formmethod="GET">Remove selected staff member</button>

    </div>
  </div>

</form>
</div>


