{{!-- Username validation --}}

  <script type="text/javascript">
    /* Username validation */

    function getUsername() {
      var usernameInput = document.getElementById("username");
      console.log("Username is:" + usernameInput.value);
      var username = usernameInput.value;
      var xmlhttp = new XMLHttpRequest();
      var btncreateAccount = document.getElementById("createAccount");
      var errorMsg = document.getElementById("usernameError");

      btncreateAccount.disabled = true;

      /* Check if entered username exist in database */

      xmlhttp.open("GET", "createAccount?username=" + username, true);

      xmlhttp.onreadystatechange = function () {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {

          if (xmlhttp.responseText.indexOf("available_username") == -1) {
            errorMsg.innerHTML = "Selected username is unavailable";
            errorMsg.style.color = "red";
            usernameInput.style.color = "red";
            btncreateAccount.disabled = true;
          } else {
            errorMsg.innerHTML = "✔";
            errorMsg.style.color = "green";
            usernameInput.style.color = "green";
            btncreateAccount.disabled = false;
          };
        };
      };
      xmlhttp.send(null);
      return false;
    };
  </script>

<form name="MyForm" enctype="multipart/form-data" action="{{#if create}}/createAccount{{else}}/editAccount{{/if}}" method="POST">
  <div class="card" style="border-color: dodgerblue;">
    <h3 class="card-header" style="background-color: dodgerblue; color: white;">{{title}}</h3>
    {{#if create}}
    <div class="form-group">
      <div class="form-group col-md-12">
        <label for="username">User Name &nbsp;<span id="usernameError"></span></label>
        <input type="text" class="form-control" id="username" name="username" placeholder="User Name" maxlength='20' required onblur="getUsername()">
        
      </div>
      <div class="form-group col-md-12">
        <label for="inputPassword4">Password</label>
        <input type="password" class="form-control" id="inputPassword4" name="password" placeholder="Password" maxlength='10' required>
      </div>
      {{/if}}
      <div class="form-group col-md-12">   
        <p>{{#if edit}}Change your Avatar <br />
          <label for ="currentAvatar">Current Avatar: </label>
          <input type="text" name="avatar" id="currentAvatar" value="{{avatar}}" readonly>{{else}}Select Avatar{{/if}}</p>
      <div class="form-group row">
        <label for="cersie" class="col-sm-3">  
          <input type="checkbox" name="avatar" id="cersie" value="Cersie.jpg" />
          <img src="/avatar/Cersie.jpg" style="width:100px; height:100px">
        </label>
        <label for="js" class="col-sm-3">
          <input type="checkbox" name="avatar" id="js" value="Jon Snow.jpg" />
          <img src="/avatar/Jon Snow.jpg" style="width:100px; height:100px">
        </label>
        <label for="daenarys" class="col-sm-3">
          <input type="checkbox" name="avatar" id="daenarys" value="Daenarys.jpg" />
          <img src="/avatar/Daenarys.jpg" style="width:100px; height:100px">
        </label>
        </div>
      <div class="form-group row">
        <label for="jl" class="col-sm-3">
          <input type="checkbox" name="avatar" id="jl" value="Jamie Lannister.jpg" />
          <img src="/avatar/Jamie Lannister.jpg" style="width:100px; height:100px">
        </label>
        <label for="sansa" class="col-sm-3">
          <input type="checkbox" name="avatar" id="sansa" value="Sansa.jpg" />
          <img src="/avatar/Sansa.jpg" style="width:100px; height:100px">
        </label>
        <label for="hound" class="col-sm-3">
          <input type="checkbox" name="avatar" id="hound" value="Hound.jpg" />
          <img src="/avatar/Hound.jpg" style="width:100px; height:100px">
        </label>
        </div>
        <div class="form-group row">
          <label for="ramsay" class="col-sm-3">
            <input type="checkbox" name="avatar" id="ramsay" value="Ramsay.jpg" />
            <img src="/avatar/Ramsay.jpg" style="width:100px" "height:100px">
          </label>
          <label for="margery" class="col-sm-3">
            <input type="checkbox" name="avatar" id="margery" value="Margery.jpg" />
            <img src="/avatar/Margery.jpg" style="width:100px; height:100px">
          </label>
          <label for="lf" class="col-sm-3">
            <input type="checkbox" name="avatar" id="lf" value="Littlefinger.jpg" />
            <img src="/avatar/Littlefinger.jpg" style="width:100px; height:100px">
          </label>
          </div>

{{!-- Pick one checkbox at a time --}}
          <script>
          $('input[type="checkbox"]').on('change', function() {
            $('input[name="' + this.name + '"]').not(this).prop('checked', false);
          });
          </script>
          <div class="form-group col-md-12">
            <label for="fileAvatar"><strong><u>Or</u></strong> Upload your own Image</p></label>
                <input name="fileAvatar" id="fileAvatar" type="file" accept="image/*" onchange="loadFile(event)"><img id="output" width="100px" height="100px" />
            </div>
            
{{!-- Shows the preview of your browsed picture --}}

          <script>
            var loadFile = function(event) {
              var output = document.getElementById('output');
              output.src = URL.createObjectURL(event.target.files[0]);
            };
          </script>
           
      <div class="form-group col-md-12">
        <label for="fname">First Name</label>
        <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" value="{{#if edit}}{{fname}}{{/if}}" required>
      </div>
      <div class="form-group col-md-12">
        <label for="lname">Last Name</label>
        <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" value="{{#if edit}}{{lname}}{{/if}}" required>
      </div>
      <div class="form-group col-md-4">
        <label for="dob">Date Of Birth</label>
        <input type="date" class="form-control" id="dob" name="dob" min="1910-01-01" max="2014-12-31" value="{{#if edit}}{{DOB}}{{/if}}" required>
      </div>
      <div class="form-group col-md-12">
        <label for="country">{{#if edit}}Change Country{{else}} Country {{/if}}</label>
        <input type="text" class="form-control" list="country" name="country" required {{#if edit}} value="{{country}}" {{else}} placeholder="Please select a country"{{/if}}>
        <datalist id="country">
    <option value="none"></option>
    <option value="Afghanistan"></option>
    <option value="Albania"></option>
    <option value="Algeria"></option>
    <option value="American Samoa"></option>
    <option value="Andorra"></option>
    <option value="Angola"></option>
    <option value="Anguilla"></option>
    <option value="Antarctica"></option>
    <option value="Antigua and Barbuda"></option>
    <option value="Argentina"></option>
    <option value="Armenia"></option>
    <option value="Aruba"></option>
    <option value="Australia"></option>
    <option value="Austria"></option>
    <option value="Azerbaijan"></option>
    <option value="Bahamas"></option>
    <option value="Bahrain"></option>
    <option value="Bangladesh"></option>
    <option value="Barbados"></option>
    <option value="Belarus"></option>
    <option value="Belgium"></option>
    <option value="Belize"></option>
    <option value="Benin"></option>
    <option value="Bermuda"></option>
    <option value="Bhutan"></option>
    <option value="Bolivia"></option>
    <option value="Bosnia and Herzegowina"></option>
    <option value="Botswana"></option>
    <option value="Bouvet Island"></option>
    <option value="Brazil"></option>
    <option value="British Indian Ocean Territory"></option>
    <option value="Brunei Darussalam"></option>
    <option value="Bulgaria"></option>
    <option value="Burkina Faso"></option>
    <option value="Burundi"></option>
    <option value="Cambodia"></option>
    <option value="Cameroon"></option>
    <option value="Canada"></option>
    <option value="Cape Verde"></option>
    <option value="Cayman Islands"></option>
    <option value="Central African Republic"></option>
    <option value="Chad"></option>
    <option value="Chile"></option>
    <option value="China"></option>
    <option value="Christmas Island"></option>
    <option value="Cocos (Keeling) Islands"></option>
    <option value="Colombia"></option>
    <option value="Comoros"></option>
    <option value="Congo"></option>
    <option value="Congo, the Democratic Republic of the"></option>
    <option value="Cook Islands"></option>
    <option value="Costa Rica"></option>
    <option value="Cote d'Ivoire"></option>
    <option value="Croatia (Hrvatska)"></option>
    <option value="Cuba"></option>
    <option value="Cyprus"></option>
    <option value="Czech Republic"></option>
    <option value="Denmark"></option>
    <option value="Djibouti"></option>
    <option value="Dominica"></option>
    <option value="Dominican Republic"></option>
    <option value="East Timor"></option>
    <option value="Ecuador"></option>
    <option value="Egypt"></option>
    <option value="El Salvador"></option>
    <option value="Equatorial Guinea"></option>
    <option value="Eritrea"></option>
    <option value="Estonia"></option>
    <option value="Ethiopia"></option>
    <option value="Falkland Islands (Malvinas)"></option>
    <option value="Faroe Islands"></option>
    <option value="Fiji"></option>
    <option value="Finland"></option>
    <option value="France"></option>
    <option value="France, Metropolitan"></option>
    <option value="French Guiana"></option>
    <option value="French Polynesia"></option>
    <option value="French Southern Territories"></option>
    <option value="Gabon"></option>
    <option value="Gambia"></option>
    <option value="Georgia"></option>
    <option value="Germany"></option>
    <option value="Ghana"></option>
    <option value="Gibraltar"></option>
    <option value="Greece"></option>
    <option value="Greenland"></option>
    <option value="Grenada"></option>
    <option value="Guadeloupe"></option>
    <option value="Guam"></option>
    <option value="Guatemala"></option>
    <option value="Guinea"></option>
    <option value="Guinea-Bissau"></option>
    <option value="Guyana"></option>
    <option value="Haiti"></option>
    <option value="Heard and Mc Donald Islands"></option>
    <option value="Holy See (Vatican City State)"></option>
    <option value="Honduras"></option>
    <option value="Hong Kong"></option>
    <option value="Hungary"></option>
    <option value="Iceland"></option>
    <option value="India"></option>
    <option value="Indonesia"></option>
    <option value="Iran (Islamic Republic of)"></option>
    <option value="Iraq"></option>
    <option value="Ireland"></option>
    <option value="Israel"></option>
    <option value="Italy"></option>
    <option value="Jamaica"></option>
    <option value="Japan"></option>
    <option value="Jordan"></option>
    <option value="Kazakhstan"></option>
    <option value="Kenya"></option>
    <option value="Kiribati"></option>
    <option value="Korea, Republic of"></option>
    <option value="Kuwait"></option>
    <option value="Kyrgyzstan"></option>
    <option value="Lao People's Democratic Republic"></option>
    <option value="Latvia"></option>
    <option value="Lebanon"></option>
    <option value="Lesotho"></option>
    <option value="Liberia"></option>
    <option value="Libyan Arab Jamahiriya"></option>
    <option value="Liechtenstein"></option>
    <option value="Lithuania"></option>
    <option value="Luxembourg"></option>
    <option value="Macau"></option>
    <option value="Macedonia, The Former Yugoslav Republic of"></option>
    <option value="Madagascar"></option>
    <option value="Malawi"></option>
    <option value="Malaysia"></option>
    <option value="Maldives"></option>
    <option value="Mali"></option>
    <option value="Malta"></option>
    <option value="Marshall Islands"></option>
    <option value="Martinique"></option>
    <option value="Mauritania"></option>
    <option value="Mauritius"></option>
    <option value="Mayotte"></option>
    <option value="Mexico"></option>
    <option value="Micronesia, Federated States of"></option>
    <option value="Moldova, Republic of"></option>
    <option value="Monaco"></option>
    <option value="Mongolia"></option>
    <option value="Montserrat"></option>
    <option value="Morocco"></option>
    <option value="Mozambique"></option>
    <option value="Myanmar"></option>
    <option value="Namibia"></option>
    <option value="Nauru"></option>
    <option value="Nepal"></option>
    <option value="Netherlands"></option>
    <option value="Netherlands Antilles"></option>
    <option value="New Caledonia"></option>
    <option value="New Zealand"></option>
    <option value="Nicaragua"></option>
    <option value="Niger"></option>
    <option value="Nigeria"></option>
    <option value="Niue"></option>
    <option value="Norfolk Island"></option>
    <option value="North Korea, Democratic People's Republic of"></option>
    <option value="Northern Mariana Islands"></option>
    <option value="Norway"></option>
    <option value="Oman"></option>
    <option value="Pakistan"></option>
    <option value="Palau"></option>
    <option value="Panama"></option>
    <option value="Papua New Guinea"></option>
    <option value="Paraguay"></option>
    <option value="Peru"></option>
    <option value="Philippines"></option>
    <option value="Pitcairn"></option>
    <option value="Poland"></option>
    <option value="Portugal"></option>
    <option value="Puerto Rico"></option>
    <option value="Qatar"></option>
    <option value="Reunion"></option>
    <option value="Romania"></option>
    <option value="Russian Federation"></option>
    <option value="Rwanda"></option>
    <option value="Saint Kitts and Nevis"></option> 
    <option value="Saint LUCIA"></option>
    <option value="Saint Vincent and the Grenadines"></option>
    <option value="Samoa"></option>
    <option value="San Marino"></option>
    <option value="Sao Tome and Principe"></option> 
    <option value="Saudi Arabia"></option>
    <option value="Senegal"></option>
    <option value="Seychelles"></option>
    <option value="Sierra Leone"></option>
    <option value="Singapore"></option>
    <option value="Slovakia (Slovak Republic)"></option>
    <option value="Slovenia"></option>
    <option value="Solomon Islands"></option>
    <option value="Somalia"></option>
    <option value="South Africa"></option>
    <option value="South Georgia and the South Sandwich Islands"></option>
    <option value="Spain"></option>
    <option value="Sri Lanka"></option>
    <option value="St. Helena"></option>
    <option value="St. Pierre and Miquelon"></option>
    <option value="Sudan"></option>
    <option value="Suriname"></option>
    <option value="Svalbard and Jan Mayen Islands"></option>
    <option value="Swaziland"></option>
    <option value="Sweden"></option>
    <option value="Switzerland"></option>
    <option value="Syrian Arab Republic"></option>
    <option value="Taiwan, Province of China"></option>
    <option value="Tajikistan"></option>
    <option value="Tanzania, United Republic of"></option>
    <option value="Thailand"></option>
    <option value="Togo"></option>
    <option value="Tokelau"></option>
    <option value="Tonga"></option>
    <option value="Trinidad and Tobago"></option>
    <option value="Tunisia"></option>
    <option value="Turkey"></option>
    <option value="Turkmenistan"></option>
    <option value="Turks and Caicos Islands"></option>
    <option value="Tuvalu"></option>
    <option value="Uganda"></option>
    <option value="Ukraine"></option>
    <option value="United Arab Emirates"></option>
    <option value="United Kingdom"></option>
    <option value="United States"></option>
    <option value="United States Minor Outlying Islands"></option>
    <option value="Uruguay"></option>
    <option value="Uzbekistan"></option>
    <option value="Vanuatu"></option>
    <option value="Venezuela"></option>
    <option value="Viet Nam"></option>
    <option value="Virgin Islands (British)"></option>
    <option value="Virgin Islands (U.S.)"></option>
    <option value="Wallis and Futuna Islands"></option>
    <option value="Western Sahara"></option>
    <option value="Yemen"></option>
    <option value="Yugoslavia"></option>
    <option value="Zambia"></option>
    <option value="Zimbabwe"></option>
</datalist>
      </div>           

      <div class="form-group col-md-12">
        <label for="description">Brief description of yourself</label>
        <textarea class="form-control" name="description" id="description" required>{{#if edit}}{{description}}{{/if}}</textarea>
      </div>
      <div class="form-group col-md-12">
        <button id="createAccount" type="submit" class="btn btn-primary">{{#if create}}Create an Account{{else}}Edit Account{{/if}}</button>
        {{#if create}}<button type="reset" class="btn btn-secondary">Clear Data</button>{{/if}}
      </div>
    </div>
  </div>
</form>
